<h1>Gourmet Menus and Chief's Recommendation</h1>
<h2>Please login to select your meals and place your order</h2>
<hr />

<table id="loggedInMenu">
    <tr>
        <th>Preview</th>
        <th>Item Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Toppings</th>
        <th>Add To Cart</th>
    </tr>
</table>

<div id="cartArea">
    <table id="cart">
        <tr>
            <th>Item Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Add/Remove</th>
        </tr>
    </table>
    <div class="formError">Error when attempting to save your cart. Please refresh the page and try again later.</div>
    <div class="formSuccess">Your Cart Has Been Saved Successfully</div>
    <div class="ctaWrapper">
        <button class="cta green" type="submit" id="checkout">Checkout</button>
    </div>
</div>