<h1>Gourmet Menus and Chief's Recommendation</h1>
<h2>Please login to select your meals and place your order</h2>
<hr />

<table id="loggedInMenu">
    <tr>
        <th>Preview</th>
        <th>Item Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Toppings</th>
        <th>Add To Cart</th>
    </tr>
</table>

<table id="cart">
    <tr>
        <th>Item Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Add/Remove</th>
    </tr>
</table>

<div id="loginCTA" class="ctaWrapper">
    <a class="cta green loggedOut" href="session/create">Place order now!</a>
    <a class="cta blue loggedIn" href="menus/logged-in">Place order now!</a>
</div>